<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="text-center mb-4">
            <h4>Mis redes</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 col-6 mb-3">
                <div class="text-center">
                    <a href="mailto:romideleon@gmail.com" target="_blank" class="text-decoration-none text-dark">
                        <i class="fas fa-envelope social-icon mb-2"></i>
                        <h5 class="social-name">Email</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-3">
                <div class="text-center">
                    <a href="https://orcid.org/0000-0003-2495-7213" target="_blank" class="text-decoration-none text-dark">
                        <i class="fab fa-orcid social-icon mb-2"></i>
                        <h5 class="social-name">ORCID</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-3">
                <div class="text-center">
                    <a href="https://github.com/rominicky/" target="_blank" class="text-decoration-none text-dark">
                        <i class="devicon-github-original social-icon mb-2"></i>
                        <h5 class="social-name">GitHub</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-3">
                <div class="text-center">
                    <a href="https://doi.org/10.5281/zenodo.11657178" target="_blank" class="text-decoration-none text-dark">
                        <i class="fas fa-shield-alt social-icon mb-2"></i>
                        <h5 class="social-name">Zenodo</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="text-muted small">© {{ 'now' | date: "%Y" }} Romina De León - Todos los derechos reservados</p>
        </div>
    </div>
</footer>