<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="mx-4">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">Romina De León</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/materiales.html' | relative_url }}">Materiales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/descargas.html' | relative_url }}">Descargas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.aacademica.org/rodeleon">Bio Acta Académica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ '/publicaciones.html' | relative_url }}">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.conicet.gov.ar/new_scp/detalle.php?keywords=&id=25837&articulos=yes">Publicaciones CONICET</a>
                </li>
            </ul>
        </div>
    </div>
</nav>